---
import "@style/global.css";
import cx from "classnames";
import Layout from "./layout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class={cx(
      "bg-slate-50 text-slate-700",
      "leading-relaxed",
      "scroll-smooth scroll-p-5",
    )}
  >
    <Layout>
      <slot />
    </Layout>
  </body>
</html>
