---
import Icon from "astro-icon";

interface Props {
  size: "sm" | "md" | "lg";
}

function getSize({ size }: Props) {
  let x: number = 18;
  if (size == "md") x = 24;
  if (size == "lg") x = 38;
  return x;
}
---

<a href="">
  <Icon pack="ic" name="baseline-facebook" size={getSize(Astro.props)} />
</a>
