---
import { Icon } from "astro-icon";
import cx from "classnames";

type Props = {
  to: string;
  img: string;
};

const { to, img } = Astro.props as Props;
---

<div class={cx("flex flex-col justify-center items-center", "relative")}>
  <img
    src={img}
    class="w-full h-[200px] mx-auto md:h-[300px] lg:w-[440px] lg:h-[350px] object-cover"
  />

  <div
    class={cx(
      "absolute top-0 left-0 w-full h-full bg-slate-800/20",
      "grid place-items-center",
    )}
  >
    <a
      href={to}
      class={cx(
        "text-white text-2xl group",
        "flex justify-center items-center gap-2",
      )}
    >
      <slot />
      <Icon
        pack="ic"
        name="outline-arrow-forward"
        size={24}
        class={cx(
          "group-hover:translate-x-2 transition-transform translate-y-[2px]",
        )}
      />
    </a>
  </div>
</div>
