---
import Html from "@layouts/html.astro";
import Layout from "@layouts/layout.astro";
---

<Html title="shop">
  <Layout>
    <section id="climbing">
      <h2>Climbings</h2>
    </section>

    <section id="cutting-board">
      <h2>Boards</h2>
    </section>
  </Layout>
</Html>
