---
import Html from "@layouts/html.astro";
import Section from "@components/Section/section.astro";
import ProductCard from "@shop/components/ProductCard.astro";
import Banner from "@shop/assets/banner.jpg";
import Footer from "@layouts/footer.astro";
import cx from "classnames";
import { mockFetch } from "src/mock/mock";

export interface Product {
  title: string;
  description: string;
  inventory: number;
  material: string;
  price: number;
  src: string;
  id?: string;
}

const data = (await mockFetch()) as Product[];
---

<Html title="Johnson and Brooks">
  <header
    id="hero"
    class={cx(
      "bg-brand-200 text-white",
      "relative isolate h-[480px] w-full",
      "flex flex-col justify-center items-center",
    )}
  >
    <h1
      class={cx(
        "font-bold italic text-3xl md:text-6xl text-brand-100",
        "flex flex-col justify-center items-center",
      )}
    >
      <span>Johnson</span>
      <span>&</span>
      <span>Brooks</span>
    </h1>

    <h2 class="text-center mt-5">Climing, Woodshop, and Printings.</h2>

    <div class={cx("absolute top-0 left-0", "-z-10 w-full h-full")}>
      <span class="bg-brand-200/30 h-full w-full absolute top-0 left-0"></span>
      <img
        src={Banner}
        alt="hangboard picture"
        class={cx("w-full h-full object-cover")}
      />
    </div>
  </header>

  <Section class="my-24">
    <h2 class="text-center text-2xl text-brand-200 italic">
      Crafting excellence, one piece at a time.
    </h2>
  </Section>

  <Section id="shop">
    <h2
      class={cx(
        "font-semibold text-3xl text-brand-200",
        "mb-5 mt-10 text-center",
      )}
    >
      Climbing
    </h2>

    <div class={cx("grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5")}>
      {data.map((prod) => <ProductCard {...prod} />)}
    </div>
  </Section>

  <Section>
    <h2 class="font-accent text-3xl mb-5 mt-10">Boards</h2>

    <div class={cx("grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5")}>
      {data.map((prod) => <ProductCard {...prod} />)}
    </div>
  </Section>

  <Footer />
</Html>
