---
import Html from "@layouts/html.astro";
import Banner from "@shop/assets/banner.jpg";
import ProductSection from "@modules/shop/components/ProductSection.astro";
import Footer from "@layouts/footer.astro";
import cx from "classnames";
import type { Product } from "@schemas/index";

const api = import.meta.env.PUBLIC_API_URI;
const response = await fetch(`${api}/`);
const data = (await response.json()) as Product[];
---

<Html title="Johnson and Brooks">
  <header
    id="hero"
    class={cx(
      "bg-brand-200 text-white",
      "relative isolate h-[480px] w-full",
      "flex flex-col justify-center items-center",
    )}
  >
    <h1
      class={cx(
        "font-bold italic text-3xl md:text-6xl text-brand-100",
        "flex flex-col justify-center items-center",
      )}
    >
      <span>Johnson</span>
      <span>&</span>
      <span>Brooks</span>
    </h1>

    <h2 class="text-center mt-5">Climing, Woodshop, and Printings.</h2>

    <div class={cx("absolute top-0 left-0", "-z-10 w-full h-full")}>
      <span class="bg-brand-200/30 h-full w-full absolute top-0 left-0"></span>
      <img
        src={Banner}
        alt="hangboard picture"
        class={cx("w-full h-full object-cover")}
      />
    </div>
  </header>

  <ProductSection title="Climbing" products={data} />
  <ProductSection title="Boards" products={data} />

  <Footer />
</Html>
