---
import cx from "classnames";
---

<footer
  class={cx(
    "w-full bg-brand-200 text-brand-100",
    "p-2 text-xs",
    "flex items-center justify-between",
  )}
>
  <div>Johnson & Brooks</div>
  <div>facebook</div>
</footer>
