---
import Nav from "@components/Nav/Nav.astro";
import { FaInstagram, FaFacebook } from "react-icons/fa/index";
import cx from "classnames";
---

<Nav />

<div class="w-full max-w-7xl mx-auto">
  <main class="grow py-10 mx-auto w-full">
    <slot />
  </main>
</div>

<footer class="bg-white text-sm text-slate-500">
  <div
    class={cx(
      "w-full max-w-7xl mx-auto",
      "flex justify-between items-center p-5",
    )}
  >
    <p>Johnson and Brooks &#169; | 2023</p>

    <div class="flex gap-3">
      <a target="_blank">
        <FaInstagram
          className="cursor-pointer text-inherit"
          title="instagram"
        />
      </a>
      <a target="_blank">
        <FaFacebook className="cursor-pointer text-inherit" title="facebook" />
      </a>
    </div>
  </div>
</footer>
