---
import { CgMenuLeftAlt } from "react-icons/cg";
import { Cart } from "@components/Nav/Cart.tsx";
import { SmallLogo } from "@components/Nav/SmallLogo";
import cx from "classnames";

const navLinks = [
  { text: "Climbing", href: "/" },
  { text: "Wood shop", href: "/" },
  { text: "3D Prints", href: "/" },
];
---

<div class="flex md:flex-col h-[100vh] overflow-y-scroll">
  <nav
    class={cx("w-0 overflow-clip transition-all", "sticky top-0", "md:w-full")}
  >
    <div
      class={cx(
        "p-8 pt-20 grow h-full flex flex-col md:flex-row",
        "md:p-6 bg-white"
      )}
    >
      <div class={cx("whitespace-nowrap grow", "md:flex gap-5")}>
        <SmallLogo className="hidden md:block w-16" />

        <ul class="flex flex-col gap-3 md:flex-row md:items-center">
          {
            navLinks.map(({ text, href }) => (
              <li>
                <a class="relative group w-max" href={href}>
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="flex gap-5 items-center">
        <ul class="flex flex-col gap-3 md:flex-row">
          <li><a href="">Contact</a></li>
          <li><a href="">About</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="flex flex-col h-full w-full" id="content">
    <div
      class={cx(
        "flex justify-between items-center md:hidden p-4",
        "sticky top-0 bg-white"
      )}
    >
      <CgMenuLeftAlt
        id="menu-toggler"
        size={24}
        className="cursor-pointer text-slate-500"
      />

      <SmallLogo className={cx("w-16 h-auto")} />

      <div>
        <ul>
          <li><a href=""></a></li>
          <li>
            <Cart />
          </li>
        </ul>
      </div>
    </div>

    <main class="grow">
      <slot />
    </main>
  </section>
</div>

<script>
  const menuBtn = document.getElementById("menu-toggler")!;
  const nav = document.querySelector("nav")!;
  menuBtn.addEventListener("click", () => {
    nav.classList.toggle("w-36");
  });
</script>
