---
import logo from "@assets/logo_small.svg";
import cx from "classnames";

const navLinks = [
    { text: "Home", href: "/" },
    { text: "Wood", href: "/" },
    { text: "3D Prints", href: "/" },
];
---

<script>
    const menuBtn = document.querySelectorAll("#menuBtn");
    const menu = document.querySelector("nav");
    const menuOverlay = document.getElementById("nav-overlay");
    menuBtn?.forEach((btn) => {
        btn.addEventListener("click", () => {
            menu?.classList.toggle("translate-x-0");
            menuOverlay?.classList.toggle("w-full");
        });
    });
</script>

<nav class={cx("h-[100vh] md:h-max", "isolate inline-block")}>
    <div class="bg-red-200 h-full w-full">
        <button id="menuBtn">close</button>
        <img src={logo} class={cx("w-16 h-auto")} />

        <ul class="">
            {
                navLinks.map(({ text, href }) => (
                    <li>
                        <a class="relative group w-max" href={href}>
                            {text}
                        </a>
                    </li>
                ))
            }
        </ul>

        <ul>
            <li>contact</li>
            <li>about</li>
        </ul>
    </div>
</nav>
